@using Rectimotos.Clases.Entidades;
@model Rectimotos.Clases.Ciudad

<head>
    <title>CREAR CIUDADES| RECTIMOTOS</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h4>Creación de Ciudades</h4>
    <hr />

    <div class="container col-10">
        <div class="card text-center hold-transition login-page m-auto">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Nombre" class="control-label">Nombre de la Ciudad:</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="IdEstado" class="control-label">Estado / Departamento:</label>
                            <select asp-for="IdEstado" class="form-control" disabled required>
                                <option value=""></option>
                                @foreach (var Estado in ViewData["Estadoss"] as List<Estados>)
                                {
                                    <option value="@Estado.IdEstado">@Estado.Nombre</option>
                                }
                            </select>
                            <input asp-for="IdEstado" class="form-control" hidden required />
                            <span asp-validation-for="IdEstado" class="text-danger"></span>
                        </div>


                    </div>

                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-route-idEstado="@ViewBag.Estado">Volver sin Crear</a>
    </div>
</body>