@model Rectimotos.Models.CategoriasViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
        Eliminar Categoría
    </div>
    <div class="card-body">
        <h4 class="card-title">¿Estás seguro de que quieres eliminar esto?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCategoria" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
        </form>
    </div>
</div>
