h4 {
    color: #B40C0C !important;
    text-decoration: none !important;
    font-size: 20px;
    margin: 16px;
}


html, body {
    height: 100% !important;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

button {
    border: none !important;
}

.btn-secondary {
    background-color: #808080 !important;
    color: white !important;
    border: none;
    margin: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a {
    color: black !important;
  
}

/*.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
}

    .header .toggle-sidebar-btn {
        font-size: 32px;
        padding-left: 10px;
        cursor: pointer;
        color: #ff0000;
    }

    .header-nav ul {
        list-style: none;
    }

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

main {
    height: 100%;
}

.toggle-sidebar .sidebar {
    left: 0;
}

.sidebar {
    left: -300px;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}*/