
/* ESTILOS PARA EL REGISTRO DE CLIENTES   (...Account/Register.cshtml)*/

h3 {
    background: #1B4698 !important;
    padding: 14px !important;
    color: white !important;
    border-radius: 30px !important;
    margin-bottom: 40px !important;
}

.btn-crear {
    background: #1B4698 !important;
    border: none !important;
    margin: 20px !important;
}

.btn-regresar {
    background: #1B4698 !important;
    border: none !important;
}

.form-group {
    font-size: 20px;
    margin-bottom: 15px;
}

.form-control {
    background-color: #f0f0f0;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.card {
    border: none;
}
