
/* ESTILOS PARA EL REGISTRO DE CLIENTES   (...Account/Register.cshtml)*/

h3 {
    background: #1B4698 !important;
    padding: 14px !important;
    color: white !important;
    border-radius: 30px !important;
    margin-bottom: 40px !important;
}

.btn-crear {
    background: #1B4698 !important;
    border: none !important;
    margin: 20px !important;
}

.btn-regresar {
    background: #1B4698 !important;
    border: none !important;
}

.form-group {
    font-size: 20px;
    margin-bottom: 15px;
}

.form-control {
    background-color: #f0f0f0;
    border: none;
    border-radius: 7px;
    text-align: center;
}

.card {
    border: none;
}

/*MENSAJES EN MODALES*/
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.custom-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: customModalAnimation;
    animation-duration: 0.4s;
    border-radius: 10px;
    font-size: 21px;
    text-align: center;
    color: black;
}

@keyframes customModalAnimation {
    from {
        opacity: 0;
        transform: translate(0, -50%);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.custom-modal-close {
    color: rgba(0, 0, 0, 0.7);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .custom-modal-close:hover,
    .custom-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
