@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Productos</title>
    <link rel="stylesheet" href="~/css/Home.css" />
    
</head>
<body>

    <div class="producto">
        <h3>Producto 1</h3>
        <p>Descripción del Producto 1.</p>
        <label>
            <input type="checkbox" name="producto1">Agregar a Carrito
        </label>
    </div>

    <div class="producto">
        <h3>Producto 2</h3>
        <p>Descripción del Producto 2.</p>
        <label>
            <input type="checkbox" name="producto2"> Agregar a Carrito
        </label>
    </div>

    <div class="producto">
        <h3>Producto 3</h3>
        <p>Descripción del Producto 3.</p>
        <label>
            <input type="checkbox" name="producto3"> Agregar a Carrito
        </label>
    </div>

    
    <h1>PAGINA NO FUNCIONAL</h1>

</body>